@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
:root{
    --primary-color:purple;
    --dark-grey:#64748b
}
body{
    font-family: 'Montserrat', sans-serif;
}
hr{
    margin: 2rem 0rem;
}
.container{
    padding:0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.link{
    text-decoration:none ;
    padding:0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:whitesmoke
}
.link-secondary{
    background-color:var(--primary-color) ;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    color:whitesmoke

}

.navigation{
    background-color: var(--primary-color);
    color:whitesmoke
    padding:1rem;
    border-bottom-left-radius:1rem;   
}
.navigation.nav-brand{
    font-weight: bold;
}
.nav-brand a{
    text-decoration: none;
    color:inherit;

}
.navigation.nav-pills{
    text-align: right;
    margin:0.6rem 1rem;
}
.navigation.link{
    color:white
}
.navigation.link-active{
    font-weight: bold;
}

.hero{
    padding:2rem;
}
.hero.hero-img{
    
    display: block;
    margin:auto;
}
.hero.hero-heading{
    color:var(--dark-grey);
}
.section h3{
    text-align: center;
}
.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align:center;
    color:white
    border-top-right-radius:1rem;
}
   .footer.link{
    color:white
   } 